<!doctype html>
<html ng-app = "myApp"> <!--You can set this equal to something or not.-->
    <head>
        <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.css">
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
        <script src="vendor/leaflet_backend/leaflet.js"></script>
        <script src="vendor/angular_leaflet_directive/angular-leaflet-directive.min.js"></script>
    </head>

    <body>
        <!--<div ng-include="'/views/userinfo.html'"></div>-->
        <leaflet></leaflet>grunt
        <div class="container-fluid" ng-include="'/views/map.html'"></div>
             <!--need both types of quotes here!!-->
        <script type="text/javascript" src="/vendor/angular/angular.min.js"></script>
        <script type="text/javascript" src="/javascripts/app.min.js"></script>

        <!--Angular projects may not need bootstrap.js if JavaScript isn't being used-->
    </body>

</html>